body {
    font-family: $font-family-base;
    color: $primary-color;
    background-color: $white;
  }

  h1 {
    color: $primary-color;
  }

  h2, h3 {
    $primary-color: darken($primary-color, 10%)
  }